@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "./varriables.scss";
@import "./mixins.scss";
@import "./medias.scss";

// Header

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 68px;
    padding: 75px 0;
    .minimo-logo {
        p {
            font-weight: bold;
            font-size: 30px;
        }
    }
    .ul-items {
        ul {
            display: flex;
            li {
                padding: 0 50px;
                color: #868686;
            }
        }
    }
}
// Main

// Section background-pic
.main-background-pic {
    max-width: 1350px;
    margin: 0 auto;
    background-image: url(../images/main-background-pic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}
.photodairy {
    width: 75%;
    margin: 0 auto;
    p:first-of-type {
        padding-bottom: 28px;
        color: #b4ad9e;
        font-weight: lighter;
    }
    h2 {
        color: #626262;
        font-size: 40px;
        padding-bottom: 40px;
    }
    p:last-of-type {
        color: #626262;
    }
}
.leave-comment {
    width: 75%;
    margin: 0 auto;
    padding-top: 75px;
    p:first-of-type {
        color: #b4ad9e;
        padding-bottom: 130px;
    }
}
.life-style {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .girl-pic {
        background-image: url(../images/girl-pic.jpg);
        background-size: cover;
        background-position: bottom;
        width: 550px;
        height: 400px;
    }
    .coffe-pic {
        background-image: url(../images/coffe-pic.jpg);
        background-size: cover;
        background-position: center;
        width: 550px;
        height: 400px;
    }
}
.life-style-content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    div {
        margin-top: 30px;
        p:first-of-type {
            padding-bottom: 30px;
            color: #b4ad9e;
        }
        p:last-of-type {
            padding-top: 40px;
        }
        h2{
            color:#626262;
        }
    }
    div:last-of-type {
        margin-left: 42px;
    }
}
.photodairy-style {
    width: 75%;
    margin: 0 auto;
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    .girl-pic {
        background-image: url(../images/american-dream-pic.jpg);
        background-size: cover;
        background-position: bottom;
        width: 550px;
        height: 400px;
    }
    .coffe-pic {
        background-image: url(../images/alps-pic.jpg);
        background-size: cover;
        background-position: center;
        width: 550px;
        height: 400px;
    }
}
.photodairy-content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    div {
        margin-top: 30px;
        p:first-of-type {
            padding-bottom: 30px;
            color: #b4ad9e;
        }
        p:last-of-type {
            padding-top: 40px;
        }
        h2{
            color:#626262;
        }
    }
    div:last-of-type {
        margin-left: 42px;
    }
}
.email-field{
    background-color: #F0F0F0;
    text-align: center;
    margin-top: 125px;
    h2{
        padding: 75px 0 85px 0;
        font-size: 36px;
    }
    form{
        .email{
            border-top: none;
            border-right: none;
            border-left: none;
            margin-bottom: 75px;
            background-color: #F0F0F0;
            width: 400px;
            font-size: 15px;
            cursor: text;
        }
        i{
            position: relative;
            right: 25px;
            font-size: 20px;
        }
    }
}
.photodairy-style {
    width: 75%;
    margin: 0 auto;
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    .girl-pic {
        background-image: url(../images/girl-with-hat-pic.jpg);
        background-size: cover;
        background-position: bottom;
        width: 550px;
        height: 400px;
    }
    .coffe-pic {
        background-image: url(../images/road-pic.jpg);
        background-size: cover;
        background-position: center;
        width: 550px;
        height: 400px;
    }
}
.photodairy-content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    div {
        margin-top: 30px;
        p:first-of-type {
            padding-bottom: 30px;
            color: #b4ad9e;
        }
        p:last-of-type {
            padding-top: 40px;
        }
        h2{
            color:#626262;
        }
    }
    div:last-of-type {
        margin-left: 42px;
    }
}
.load-more{
    margin-top: 160px;
    margin-bottom: 320px;
    text-align: center;
    button{
        border: 1px solid #626262;
        font-weight: lighter;
        padding: 20px 30px;
        background-color: white;
        color: #626262;
        font-size: 14px;
    }
}
footer{
    section{
        background-color: #F0F0F0;
        padding: 20px;
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            span{
                padding-left: 10px;
            }
        }
        ul{
            display: flex;
            align-items: center;
            li{
                &:first-of-type{
                    color: black;
                }
                padding: 10px;
                color: #626262;
            }
        }
    }
}